.header {
  /* box configuration */
  height: 30px;

  margin: 10px 0px 10px 12px;

  display: flex;
  justify-content: space-between;
}

.title {
  text-align: right;
}

.next-page {
  border: none;
  background-color: rgb(62, 62, 62);
  padding: 15px 15px 15px 15px;
  border-radius: 4px;
  color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.previous-page {
  border: none;
  background-color: rgb(62, 62, 62);
  padding: 15px 20px 15px 10px;
  border-radius: 5px;
  color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M16,16.6 11.4,12 16,7.4 14.6,6 8.6,12 14.6,18Z'  transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left 12px center;
}

.page-number {
  font-size: 10px;
  color: rgba(74, 74, 74, 0.659);
  padding: 10px;
}
.poke-container{
  padding:10px;
  border-radius:10px;
  background-color:#23252a;

}
.poke-block {
  /* box configuration */
  width: 750px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  display: table;
  color:white;
}

.container {
  display: block;
  float: left;
  position: relative;
  margin: 0 0.78125% 50px;
  width: 23.4375%;
}

.tile_image:hover {
  margin: 5px 10px 5px 10px;
  background-color: #d3d3d35e;
}

.tile_image {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

.tile_p {
  margin-top: 10px;
  line-height: 0px;
}
